@import be.objectify.deadbolt.scala.views.html.subjectPresent
@import be.objectify.deadbolt.scala.views.html.restrictOr
@import utils.auth.deadbolt.SecureRequest

@()(implicit request: SecureRequest[Any], messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), Some(request.identity)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("welcome.signed.in")</h4>
            <div class="col-md-4 text-right">
                <img src="@request.identity.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("full.name")
                        :</strong></p><p class="col-md-6">@request.identity.nickname</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@Messages("email")
                        :</strong></p><p class="col-md-6">@request.identity.email</p>
                </div>
                @subjectPresent() {
                    <div class="row">
                        <p class="col-md-6"><strong>Subject:</strong></p><p class="col-md-6">Subject is present</p>
                    </div>
                }
                @restrictOr(roles = Roles.Superuser.group) {
                    <div class="row">
                        <p class="col-md-6"><strong>Superuser:</strong></p><p class="col-md-6">yes</p>
                    </div>
                } {
                    <div class="row">
                        <p class="col-md-6"><strong>Superuser:</strong></p><p class="col-md-6">no</p>
                    </div>
                }

            </div>
        </div>
    </div>
}
